$main:#e3a51e;
$textColor:#666666;
$borderColor:#e2e0e0;
$listTitleColor:#333333;
$transparent:rgba(0, 0, 0, 0.4);
$inputColor:#f2f2f2;
$banner:rgba(245, 245, 245, 0.616);
$contactInput: #f3f6f5;
$bottomBorder:#e5e5e5;
