@import "../utilities/colors.scss";
@import "../utilities/mixins.scss";

.page-titles{
    background-color: $banner;
    &__container{
        @include container;
        &__row{
            width: 100%;
            @include rowResponse;
            &__column{
                @include columnPadding;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                padding-top:28px ;
                padding-bottom: 35px;
                text-align: center;
                @media (min-width:768px){
                    padding-top:55px ;
                padding-bottom: 60px;
                }
                h1{
                padding-bottom: 15px;
                text-transform: uppercase;
                @include Monserrat( $listTitleColor,24px);
                font-weight:600;
                }
                &__link{
                    padding: 0 2px;
                    font-size: 16px;
                    color: $listTitleColor;
                }
                span{
                    color:$main ;
                    padding: 0 2px;
                }
                &__slash{
                    font-size: 16px;
                    color: $listTitleColor !important;
                }
            }
        }
    }
}    

.blog-blogs{
    padding: 62px 0 62px 0;
    @media (min-width:768px){
      padding: 80px 0 80px 0;
    }
    &__container{
        @include container;
        &__row{
            width: 100%;
            @include rowResponse;
          
            .blog-prototype{
                @include columnPadding;
                margin-bottom: 25px;
            }

              
        }
    }
}
.pages-slides__row{
    @include rowResponse;
    &__column{
        @include columnPadding;
        padding-top: 20px;
        padding-bottom: 18px;
        border: 1px solid $borderColor;
        border-radius: 1px; 
        text-align: center;     
        &__btn{
            width: 40px;
            height: 40px;
            border: 1px solid $borderColor;
            color: $listTitleColor;
            background-color: white;
            border-radius: 5px;
            @include transition(0.3s);
            &:hover{
                color: white;
                border-color: $main;
                background-color: $main;
            }

        }
        &__btn-active{
            width: 40px;
            height: 40px;
            color: white;
            background-color: $main;
            border-radius: 5px;
        }
    }
}