.page-titles {
  background-color: rgba(245, 245, 245, 0.616); }
  .page-titles__container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 540px; }
    @media (min-width: 576px) {
      .page-titles__container {
        min-width: 540px; } }
    @media (max-width: 575px) {
      .page-titles__container {
        padding: 0 15px; } }
    @media (min-width: 768px) {
      .page-titles__container {
        min-width: 720px; } }
    @media (min-width: 992px) {
      .page-titles__container {
        min-width: 960px;
        padding: 0; } }
    @media (min-width: 1200px) {
      .page-titles__container {
        max-width: 1200px; } }
    .page-titles__container__row {
      width: 100%;
      margin: 0 auto;
      padding: 0;
      width: 100%; }
      .page-titles__container__row__column {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding-top: 28px;
        padding-bottom: 35px;
        text-align: center; }
        @media (max-width: 991px) {
          .page-titles__container__row__column {
            padding-left: 0 !important;
            padding-right: 0 !important; } }
        @media (min-width: 768px) {
          .page-titles__container__row__column {
            padding-top: 55px;
            padding-bottom: 60px; } }
        .page-titles__container__row__column h1 {
          padding-bottom: 15px;
          text-transform: uppercase;
          font-family: 'Montserrat', sans-serif;
          font-size: 24px;
          color: #333333;
          font-weight: 600; }
        .page-titles__container__row__column__link {
          padding: 0 2px;
          font-size: 16px;
          color: #333333; }
        .page-titles__container__row__column span {
          color: #e3a51e;
          padding: 0 2px; }
        .page-titles__container__row__column__slash {
          font-size: 16px;
          color: #333333 !important; }

.blog-blogs {
  padding: 62px 0 62px 0; }
  @media (min-width: 768px) {
    .blog-blogs {
      padding: 80px 0 80px 0; } }
  .blog-blogs__container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 540px; }
    @media (min-width: 576px) {
      .blog-blogs__container {
        min-width: 540px; } }
    @media (max-width: 575px) {
      .blog-blogs__container {
        padding: 0 15px; } }
    @media (min-width: 768px) {
      .blog-blogs__container {
        min-width: 720px; } }
    @media (min-width: 992px) {
      .blog-blogs__container {
        min-width: 960px;
        padding: 0; } }
    @media (min-width: 1200px) {
      .blog-blogs__container {
        max-width: 1200px; } }
    .blog-blogs__container__row {
      width: 100%;
      margin: 0 auto;
      padding: 0;
      width: 100%; }
      .blog-blogs__container__row .blog-prototype {
        margin-bottom: 25px; }
        @media (max-width: 991px) {
          .blog-blogs__container__row .blog-prototype {
            padding-left: 0 !important;
            padding-right: 0 !important; } }

.pages-slides__row {
  margin: 0 auto;
  padding: 0;
  width: 100%; }
  .pages-slides__row__column {
    padding-top: 20px;
    padding-bottom: 18px;
    border: 1px solid #e2e0e0;
    border-radius: 1px;
    text-align: center; }
    @media (max-width: 991px) {
      .pages-slides__row__column {
        padding-left: 0 !important;
        padding-right: 0 !important; } }
    .pages-slides__row__column__btn {
      width: 40px;
      height: 40px;
      border: 1px solid #e2e0e0;
      color: #333333;
      background-color: white;
      border-radius: 5px;
      transition: all 0.3s linear; }
      .pages-slides__row__column__btn:hover {
        color: white;
        border-color: #e3a51e;
        background-color: #e3a51e; }
    .pages-slides__row__column__btn-active {
      width: 40px;
      height: 40px;
      color: white;
      background-color: #e3a51e;
      border-radius: 5px; }
