* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: 0; }

body {
  color: #666666;
  font-weight: 400;
  line-height: 1.7;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  background-color: white; }

a {
  color: #666666;
  text-decoration: none;
  font-family: "Open Sans", sans-serif; }

ul {
  padding: 0;
  margin: 0; }

.custom-header {
  width: 100%; }
  .custom-header__top {
    width: 100%;
    padding: 13px 0;
    height: 49.8px;
    background-color: #e3a51e; }
    @media (max-width: 991px) {
      .custom-header__top {
        display: none; } }
    .custom-header__top__container {
      padding: 0 15px;
      margin: 0 auto;
      height: 100%; }
      @media (min-width: 1200px) {
        .custom-header__top__container {
          max-width: 1200px; } }
      @media (min-width: 992px) {
        .custom-header__top__container {
          min-width: 960px; } }
      @media (min-width: 768px) {
        .custom-header__top__container {
          min-width: 720px; } }
      @media (min-width: 576px) {
        .custom-header__top__container {
          min-width: 540px; } }
      .custom-header__top__container__row {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0; }
        .custom-header__top__container__row__item {
          padding: 0px;
          height: 100%;
          display: flex;
          align-items: center; }
          .custom-header__top__container__row__item:last-child {
            justify-content: end; }
          .custom-header__top__container__row__item__welcome {
            color: #fff;
            font-size: 15px; }
          .custom-header__top__container__row__item__currency-language {
            justify-content: end;
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0; }
            .custom-header__top__container__row__item__currency-language__link-dropdown {
              position: relative;
              width: fit-content;
              height: fit-content; }
              .custom-header__top__container__row__item__currency-language__link-dropdown:hover ul {
                visibility: visible;
                opacity: 1;
                top: 100%; }
              .custom-header__top__container__row__item__currency-language__link-dropdown:last-child .custom-header__top__container__row__item__currency-language__link-dropdown__link {
                margin-left: 20px;
                border-left: 1px solid #fff;
                padding-left: 20px; }
              .custom-header__top__container__row__item__currency-language__link-dropdown__link {
                font-weight: 400;
                line-height: 1.7;
                color: #fff;
                font-size: 15px;
                font-family: "Open Sans", sans-serif; }
                .custom-header__top__container__row__item__currency-language__link-dropdown__link span i {
                  font-size: 10px; }
                .custom-header__top__container__row__item__currency-language__link-dropdown__link:hover {
                  color: #fff; }
              .custom-header__top__container__row__item__currency-language__link-dropdown__dropdown {
                width: 150px;
                padding: 15px;
                position: absolute;
                right: 0;
                top: 170%;
                opacity: 0;
                visibility: hidden;
                border: 1px solid #e2e0e0;
                background-color: white;
                transition: all 0.3s ease-in;
                z-index: 1; }
                .custom-header__top__container__row__item__currency-language__link-dropdown__dropdown :hover {
                  color: #e3a51e; }
                .custom-header__top__container__row__item__currency-language__link-dropdown__dropdown__link {
                  padding: 5px 0px 3px 0px;
                  margin: 0;
                  font-size: 13px; }

._sticky {
  transition: all 0.3s linear;
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 76px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.199); }
  ._sticky .custom-header__bottom__container__row ._display-none .custom-navbar__menu__item {
    height: 76px;
    transition: all 0.3s linear; }
    ._sticky .custom-header__bottom__container__row ._display-none .custom-navbar__menu__item__link {
      transition: all 0.3s linear;
      padding: 24px 15px; }

.custom-header__bottom {
  z-index: 2;
  background-color: #fff;
  width: 100%;
  height: 120px; }
  @media (max-width: 991px) {
    .custom-header__bottom {
      max-height: 60px; } }
  .custom-header__bottom__container {
    padding: 0;
    margin: 0 auto;
    height: 100%;
    position: relative; }
    @media (min-width: 1200px) {
      .custom-header__bottom__container {
        max-width: 1200px; } }
    @media (min-width: 992px) {
      .custom-header__bottom__container {
        min-width: 960px; } }
    @media (min-width: 768px) {
      .custom-header__bottom__container {
        min-width: 720px; } }
    @media (min-width: 576px) {
      .custom-header__bottom__container {
        min-width: 540px; } }
    @media (max-width: 575px) {
      .custom-header__bottom__container {
        min-width: 100%; } }
    .custom-header__bottom__container__row {
      width: 100%;
      display: flex;
      height: 100%;
      align-items: center;
      margin: 0; }
      @media (max-width: 991px) {
        .custom-header__bottom__container__row {
          justify-content: space-between; } }

.custom-logo {
  height: fit-content; }
  @media (max-width: 991px) {
    .custom-logo {
      width: fit-content; } }
  .custom-logo__link {
    height: fit-content;
    width: fit-content; }

.custom-navbar {
  display: flex;
  justify-content: space-around; }
  .custom-navbar__menu {
    z-index: 2;
    display: flex;
    align-items: center;
    margin: 0;
    margin: 0; }
    .custom-navbar__menu__item {
      z-index: 2;
      height: 120px;
      position: relative;
      display: flex;
      align-items: center; }
      .custom-navbar__menu__item:hover .custom-navbar__sub-menu {
        opacity: 1;
        visibility: visible;
        top: 100%; }
      .custom-navbar__menu__item:hover .custom-navbar__menu__item__link {
        color: #e3a51e; }
      .custom-navbar__menu__item__link {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #666666;
        padding: 52px 15px;
        text-transform: uppercase;
        color: #333333; }
        .custom-navbar__menu__item__link i {
          font-size: 12px; }

.custom-navbar__sub-menu {
  z-index: 2;
  padding: 20px 0;
  width: 220px;
  position: absolute;
  left: 0;
  top: 120%;
  opacity: 0;
  visibility: hidden;
  border: 1px solid #e2e0e0;
  background-color: white;
  transition: all 0.3s ease-in;
  z-index: 1; }
  .custom-navbar__sub-menu__item {
    z-index: 2;
    display: flex;
    flex-direction: column; }
    .custom-navbar__sub-menu__item__link {
      padding: 5px 15px;
      color: #666666;
      text-transform: capitalize;
      font-size: 14px;
      font-weight: 400; }
      .custom-navbar__sub-menu__item__link:hover {
        color: #e3a51e; }

.custom-navbar__sub-menu--large {
  z-index: 2;
  width: 100%;
  left: 0px;
  padding: 20px;
  display: flex; }
  .custom-navbar__sub-menu--large .custom-navbar__sub-menu__item {
    z-index: 2;
    flex: 1; }
    .custom-navbar__sub-menu--large .custom-navbar__sub-menu__item:hover .custom-navbar__sub-menu__item__link {
      color: #e3a51e; }
    .custom-navbar__sub-menu--large .custom-navbar__sub-menu__item__link {
      color: #333333;
      font-size: 16px;
      font-weight: 500;
      height: fit-content; }
    .custom-navbar__sub-menu--large .custom-navbar__sub-menu__item__pages-sub-list {
      padding: 0;
      margin: 0; }
      .custom-navbar__sub-menu--large .custom-navbar__sub-menu__item__pages-sub-list__item {
        height: 34px; }
        .custom-navbar__sub-menu--large .custom-navbar__sub-menu__item__pages-sub-list__item__link {
          line-height: 1;
          font-family: 'Montserrat', sans-serif;
          padding: 10px 15px;
          color: #666666;
          text-transform: capitalize;
          font-size: 14px;
          font-weight: 400; }
          .custom-navbar__sub-menu--large .custom-navbar__sub-menu__item__pages-sub-list__item__link:hover {
            color: #e3a51e; }

._position-none {
  position: initial; }

._position-relative {
  position: relative; }

._small-font-size {
  font-size: 10px; }

.custom-navbar__sub-menu__dropleft {
  padding: 20px 0;
  width: 250px;
  position: absolute;
  left: 100%;
  top: 50%;
  opacity: 0;
  visibility: hidden;
  border: 1px solid #e2e0e0;
  background-color: white;
  transition: all 0.3s ease-in;
  z-index: 2; }
  .custom-navbar__sub-menu__dropleft__item {
    display: flex;
    flex-direction: column; }
    .custom-navbar__sub-menu__dropleft__item__link {
      padding: 5px 15px;
      color: #666666;
      text-transform: capitalize;
      font-size: 14px;
      font-weight: 400; }
      .custom-navbar__sub-menu__dropleft__item__link:hover {
        color: #e3a51e; }

.custom-navbar__sub-menu__item:hover ul {
  visibility: visible;
  opacity: 1;
  top: 0%; }

._active {
  color: #e3a51e; }

@media (max-width: 991px) {
  .extras {
    width: fit-content; } }

.extras__list {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0;
  margin: 0; }
  .extras__list__item:last-child {
    padding-right: 10px; }
  .extras__list__item {
    margin-left: 25px; }
    .extras__list__item:hover .extras-setting__sub-menu {
      opacity: 1;
      visibility: visible;
      top: 100%; }
    .extras__list__item__link {
      font-size: 20px;
      line-height: 1;
      color: #333333; }
      .extras__list__item__link:hover {
        color: #e3a51e; }

.extras-setting__sub-menu {
  padding: 20px;
  width: 150px;
  position: absolute;
  right: 0%;
  top: 150%;
  opacity: 0;
  visibility: hidden;
  border: 1px solid #e2e0e0;
  background-color: white;
  transition: all 0.2s ease-in;
  z-index: 2; }
  .extras-setting__sub-menu__item__link {
    font-family: "Open Sans", sans-serif;
    padding: 8px 0px;
    font-size: 13px;
    line-height: 1; }
    .extras-setting__sub-menu__item__link:hover {
      color: #e3a51e; }

.extras-notifications {
  background-color: #e3a51e;
  width: 18px;
  height: 18px;
  top: -3px;
  right: -8px;
  position: absolute;
  text-align: center;
  line-height: 18px;
  font-size: 10px;
  color: #fff;
  border-radius: 50%; }

.custom-header {
  width: 100% !important; }

@media (max-width: 991px) {
  ._display-none {
    display: none; } }

._display-block {
  display: none; }
  @media (max-width: 991px) {
    ._display-block {
      display: block; } }

.transparent__body {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
  width: 100%;
  height: 100vh;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  cursor: crosshair; }

._transform-xy-search {
  transform: translate(-50%, -50%) !important; }

.transparent__body__search {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear;
  width: 100%;
  height: 100vh;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  transition: all 0.3s linear; }
  .transparent__body__search__close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: white;
    top: 50px;
    right: 50px; }
    .transparent__body__search__close__btn {
      width: 15px;
      height: 15px;
      background-color: transparent; }
  .transparent__body__search__input-btn {
    display: flex;
    width: 1110px;
    margin: 0 auto;
    height: 44px;
    padding: 1px 2px 20px 2px;
    border-bottom: 2px solid #e3a51eb0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50px);
    transition: all 0.3s ease-out; }
    @media (max-width: 1200px) {
      .transparent__body__search__input-btn {
        width: 1040px; } }
    @media (max-width: 1150px) {
      .transparent__body__search__input-btn {
        width: 900px; } }
    .transparent__body__search__input-btn__input {
      background-color: transparent;
      border: none;
      outline: none;
      height: 100%;
      width: 90%;
      color: #fff; }
      .transparent__body__search__input-btn__input::placeholder {
        color: white;
        opacity: 1;
        font-family: "Open Sans", sans-serif;
        font-style: italic;
        font-size: 16px; }
      .transparent__body__search__input-btn__input:-ms-input-placeholder {
        color: white;
        font-family: "Open Sans", sans-serif;
        font-style: italic;
        font-size: 16px; }
      .transparent__body__search__input-btn__input::-ms-input-placeholder {
        color: white;
        font-family: "Open Sans", sans-serif;
        font-style: italic;
        font-size: 16px; }
    .transparent__body__search__input-btn__btn {
      background-color: transparent;
      border: none;
      outline: none;
      height: 100%;
      color: #fff;
      width: 10%;
      font-size: 16px;
      display: flex;
      justify-content: end; }
      .transparent__body__search__input-btn__btn:hover {
        color: #e3a51e; }
      .transparent__body__search__input-btn__btn i {
        font-size: 20px;
        margin-right: 10px; }

._transform-translate-x {
  transform: translateX(0) !important;
  transition: all 0.3s linear; }

.mobile-menu {
  width: fit-content;
  height: fit-content;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  transform: translateX(-120%);
  transition: all 0.3s linear; }
  .mobile-menu__container {
    width: 300px;
    padding: 20px;
    height: 100vh;
    background-color: #fff; }
    @media (max-width: 479px) {
      .mobile-menu__container {
        padding: 15px;
        width: 260px; } }
    @media (max-height: 535px) {
      .mobile-menu__container {
        padding: 15px; } }
    .mobile-menu__container__close {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color: #e3a51e;
      color: white;
      left: 100%;
      top: 0%; }
      .mobile-menu__container__close__btn {
        width: 20px;
        height: 20px;
        background-color: transparent; }
    .mobile-menu__container__navbar {
      margin-top: 40px;
      width: 100%;
      overflow-y: auto;
      max-height: 240px; }
      .mobile-menu__container__navbar__list {
        padding: 0;
        margin: 0;
        width: 100%; }
        .mobile-menu__container__navbar__list__item {
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          font-size: 15px; }
          .mobile-menu__container__navbar__list__item__link-btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 38px; }
            .mobile-menu__container__navbar__list__item__link-btn__link {
              color: #333333; }
              .mobile-menu__container__navbar__list__item__link-btn__link:hover {
                color: #e3a51e; }
            .mobile-menu__container__navbar__list__item__link-btn__btn {
              width: 10px;
              height: 10px;
              background-color: transparent;
              border: none; }
          .mobile-menu__container__navbar__list__item__sub-list {
            height: 0;
            visibility: hidden;
            opacity: 0;
            transition: all 0.2s linear;
            width: 100%;
            padding: 0;
            margin: 0; }
            .mobile-menu__container__navbar__list__item__sub-list__item2 .additional-menu {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              height: 34px;
              padding-left: 15px; }
              .mobile-menu__container__navbar__list__item__sub-list__item2 .additional-menu__link {
                color: #333333; }
                .mobile-menu__container__navbar__list__item__sub-list__item2 .additional-menu__link:hover {
                  color: #e3a51e; }
              .mobile-menu__container__navbar__list__item__sub-list__item2 .additional-menu__btn {
                width: 10px;
                height: 10px;
                background-color: transparent;
                border: none; }
            .mobile-menu__container__navbar__list__item__sub-list__item2 .additional-sub-list {
              height: 0;
              opacity: 0;
              visibility: hidden;
              transition: all 0.2s linear;
              width: 100%;
              padding: 0;
              margin: 0; }
              .mobile-menu__container__navbar__list__item__sub-list__item2 .additional-sub-list__item {
                width: 100%;
                height: 34px;
                padding-left: 30px;
                display: block;
                padding-left: 30px; }
                .mobile-menu__container__navbar__list__item__sub-list__item2 .additional-sub-list__item__link {
                  color: #333333; }
                  .mobile-menu__container__navbar__list__item__sub-list__item2 .additional-sub-list__item__link:hover {
                    color: #e3a51e; }
            .mobile-menu__container__navbar__list__item__sub-list__item {
              width: 100%;
              height: 34px;
              display: flex;
              align-items: center;
              padding-left: 15px; }
              .mobile-menu__container__navbar__list__item__sub-list__item__link:hover {
                color: #e3a51e; }
    .mobile-menu__container__input {
      width: 100%;
      height: 40px;
      background-color: #f2f2f2;
      padding-left: 10px;
      display: flex; }
      .mobile-menu__container__input input {
        width: calc(100% - 40px);
        height: 100%;
        border: none;
        background-color: transparent;
        outline: none;
        padding: 0;
        margin: 0;
        font-size: 13px; }
        .mobile-menu__container__input input::placeholder {
          font-family: "Open Sans", sans-serif;
          font-style: italic; }
        .mobile-menu__container__input input:-ms-input-placeholder {
          font-family: "Open Sans", sans-serif;
          font-style: italic; }
        .mobile-menu__container__input input::-ms-input-placeholder {
          font-family: "Open Sans", sans-serif;
          font-style: italic; }
      .mobile-menu__container__input button {
        width: 40px;
        height: 100%;
        text-align: center;
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 16px;
        color: #666666; }
        .mobile-menu__container__input button :hover {
          color: #e3a51e; }
    .mobile-menu__container__currency-accaunt {
      padding-top: 15px;
      margin-top: 15px;
      border-top: 1px solid #e2e0e0;
      background-color: #fff;
      width: 100%; }
      @media (max-height: 535px) {
        .mobile-menu__container__currency-accaunt {
          position: fixed;
          bottom: 162px;
          left: 0;
          padding: 15px 15px 0 15px; } }
      .mobile-menu__container__currency-accaunt__list {
        padding: 0;
        margin: 0; }
        .mobile-menu__container__currency-accaunt__list__currency__link {
          font-size: 14px; }
          .mobile-menu__container__currency-accaunt__list__currency__link:hover {
            color: #e3a51e; }
        .mobile-menu__container__currency-accaunt__list__currency__list {
          z-index: 5;
          padding: 0;
          margin: 0;
          opacity: 0;
          visibility: hidden;
          height: 0;
          transition: all 0.3s ease-out;
          border: 1px solid #e2e0e0;
          width: fit-content; }
          .mobile-menu__container__currency-accaunt__list__currency__list__item {
            padding: 6px 15px;
            width: 158px; }
            .mobile-menu__container__currency-accaunt__list__currency__list__item__link {
              font-size: 14px; }
              .mobile-menu__container__currency-accaunt__list__currency__list__item__link:hover {
                color: #e3a51e; }
    .mobile-menu__container__extras {
      background-color: #fff;
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      display: flex;
      align-content: space-between;
      flex-direction: column; }
      .mobile-menu__container__extras__contact__list {
        padding: 10px 20px; }
        @media (max-width: 479px) {
          .mobile-menu__container__extras__contact__list {
            padding: 10px 15px; } }
        @media (max-height: 535px) {
          .mobile-menu__container__extras__contact__list {
            padding: 10px 15px; } }
        .mobile-menu__container__extras__contact__list__item__link {
          font-size: 15px; }
          .mobile-menu__container__extras__contact__list__item__link:hover {
            color: #e3a51e; }
          .mobile-menu__container__extras__contact__list__item__link i {
            margin-right: 5px; }
      .mobile-menu__container__extras__social-media {
        padding-bottom: 40px; }
        .mobile-menu__container__extras__social-media__list {
          padding: 10px 20px;
          display: flex; }
          @media (max-width: 479px) {
            .mobile-menu__container__extras__social-media__list {
              padding: 10px 15px; } }
          @media (max-height: 535px) {
            .mobile-menu__container__extras__social-media__list {
              padding: 10px 15px; } }
          .mobile-menu__container__extras__social-media__list__item {
            margin-right: 20px; }
            .mobile-menu__container__extras__social-media__list__item__link {
              font-size: 16px; }
              .mobile-menu__container__extras__social-media__list__item__link:hover {
                color: #e3a51e; }

.x-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  .x-icon__vr {
    height: 100%;
    width: 1px;
    position: absolute;
    left: calc(50%-0.5px);
    transition: all 0.3s linear;
    background-color: #333333; }
  .x-icon__hr {
    width: 100%;
    height: 1px;
    position: absolute;
    transition: all 0.3s linear;
    background-color: #333333; }

._x-rotate-vr .x-icon__vr {
  transform: rotate(-90deg); }

._x-rotate-all {
  transform: rotate(45deg); }
  ._x-rotate-all .x-icon__vr {
    width: 2px;
    background-color: #fff; }
  ._x-rotate-all .x-icon__hr {
    height: 2px;
    background-color: #fff; }
  ._x-rotate-all:hover span {
    transform: rotate(-90deg); }

._x-rotate-all-reverse {
  transform: rotate(45deg); }
  ._x-rotate-all-reverse .x-icon__vr {
    width: 2px;
    background-color: #e3a51e; }
  ._x-rotate-all-reverse .x-icon__hr {
    height: 2px;
    background-color: #e3a51e; }
  ._x-rotate-all-reverse:hover span {
    transform: rotate(90deg); }

._opacity-return {
  visibility: visible !important;
  transition: all 0.3s linear !important;
  opacity: 1 !important; }

._custom-accordion {
  visibility: visible !important;
  height: fit-content !important;
  transition: all 0.2s linear;
  opacity: 1 !important; }

.mobile-menu__container__navbar::-webkit-scrollbar {
  display: none; }

.mobile-menu__container__navbar {
  -ms-overflow-style: none;
  scrollbar-width: none; }

.main-carousel__container {
  overflow: hidden;
  z-index: -1;
  margin: 0 auto;
  height: 350px;
  max-width: 540px; }
  @media (min-width: 576px) {
    .main-carousel__container {
      min-width: 540px;
      height: 400px;
      padding: 0 15px; } }
  @media (max-width: 575px) {
    .main-carousel__container {
      padding: 0; } }
  @media (min-width: 768px) {
    .main-carousel__container {
      min-width: 720px; } }
  @media (min-width: 992px) {
    .main-carousel__container {
      min-width: 960px;
      height: 470px; } }
  @media (min-width: 1200px) {
    .main-carousel__container {
      max-width: 1200px; } }
  .main-carousel__container__row {
    width: 100%;
    height: 100%;
    margin: 0 0; }
    .main-carousel__container__row__column {
      padding: 0;
      height: 100%; }
      @media (max-width: 575px) {
        .main-carousel__container__row__column {
          padding: 0 15px; } }
      .main-carousel__container__row__column__carousel {
        height: 100%; }
        .main-carousel__container__row__column__carousel__items {
          height: 100%; }
          .main-carousel__container__row__column__carousel__items__item {
            height: 100%;
            overflow: hidden; }
            .main-carousel__container__row__column__carousel__items__item img {
              width: 100%;
              height: 100%;
              object-position: center center; }
            .main-carousel__container__row__column__carousel__items__item__caption {
              padding: 25px;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              text-align: start;
              left: 0;
              top: 0; }
              @media (min-width: 576px) {
                .main-carousel__container__row__column__carousel__items__item__caption {
                  width: 80%; } }
              @media (min-width: 768px) {
                .main-carousel__container__row__column__carousel__items__item__caption {
                  width: 70%; } }
              @media (min-width: 992px) {
                .main-carousel__container__row__column__carousel__items__item__caption {
                  padding: 100px; } }
              .main-carousel__container__row__column__carousel__items__item__caption__top-title {
                width: 70%;
                font-family: 'Montserrat', sans-serif; }
                @media (min-width: 576px) {
                  .main-carousel__container__row__column__carousel__items__item__caption__top-title {
                    width: 90%; } }
                @media (min-width: 768px) {
                  .main-carousel__container__row__column__carousel__items__item__caption__top-title {
                    width: 80%; } }
                @media (min-width: 1200px) {
                  .main-carousel__container__row__column__carousel__items__item__caption__top-title {
                    width: 70%; } }
              .main-carousel__container__row__column__carousel__items__item__caption__title {
                width: 70%;
                font-family: 'Montserrat', sans-serif; }
                @media (min-width: 576px) {
                  .main-carousel__container__row__column__carousel__items__item__caption__title {
                    width: 90%; } }
                @media (max-width: 575px) {
                  .main-carousel__container__row__column__carousel__items__item__caption__title {
                    width: 100%;
                    font-size: 30px; } }
                @media (min-width: 768px) {
                  .main-carousel__container__row__column__carousel__items__item__caption__title {
                    width: 90%;
                    font-size: 35px; } }
                @media (min-width: 992px) {
                  .main-carousel__container__row__column__carousel__items__item__caption__title {
                    font-size: 50px; } }
                @media (min-width: 1200px) {
                  .main-carousel__container__row__column__carousel__items__item__caption__title {
                    width: 70%; } }
              .main-carousel__container__row__column__carousel__items__item__caption__article {
                width: 70%;
                font-family: 'Montserrat', sans-serif; }
                @media (min-width: 576px) {
                  .main-carousel__container__row__column__carousel__items__item__caption__article {
                    width: 95%; } }
                @media (max-width: 575px) {
                  .main-carousel__container__row__column__carousel__items__item__caption__article {
                    width: 100%; } }
                @media (min-width: 1200px) {
                  .main-carousel__container__row__column__carousel__items__item__caption__article {
                    width: 70%; } }
              .main-carousel__container__row__column__carousel__items__item__caption__link {
                margin-top: 20px;
                width: 177px;
                height: 54px;
                transition: all 0.2s linear;
                color: #333333;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                border-radius: 50px; }
                .main-carousel__container__row__column__carousel__items__item__caption__link:hover {
                  color: #e3a51e;
                  background-color: #333333; }
        .main-carousel__container__row__column__carousel__prev {
          opacity: 1;
          visibility: hidden; }
          .main-carousel__container__row__column__carousel__prev:hover {
            opacity: 1; }
          .main-carousel__container__row__column__carousel__prev__icon {
            visibility: hidden;
            opacity: 0;
            background-color: #fff !important;
            transition: all 0.2s linear;
            height: 46px;
            width: 46px;
            color: #333333;
            margin-right: 100px;
            display: flex;
            align-items: center;
            justify-content: center; }
            .main-carousel__container__row__column__carousel__prev__icon:hover {
              color: #fff;
              background-color: #e3a51e !important; }
            @media (max-width: 991px) {
              .main-carousel__container__row__column__carousel__prev__icon {
                display: block !important;
                visibility: hidden !important;
                opacity: 0 !important; } }
        .main-carousel__container__row__column__carousel__next {
          opacity: 1;
          visibility: hidden; }
          .main-carousel__container__row__column__carousel__next:hover {
            opacity: 1; }
          .main-carousel__container__row__column__carousel__next__icon {
            visibility: hidden;
            opacity: 0;
            background-color: #fff !important;
            transition: all 0.2s linear;
            height: 46px;
            width: 46px;
            color: #333333;
            margin-left: 100px;
            display: flex;
            align-items: center;
            justify-content: center; }
            .main-carousel__container__row__column__carousel__next__icon:hover {
              color: #fff;
              background-color: #e3a51e !important; }
            @media (max-width: 991px) {
              .main-carousel__container__row__column__carousel__next__icon {
                display: block !important;
                visibility: hidden !important;
                opacity: 0 !important; } }

.main-carousel__stickers-container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 540px; }
  @media (min-width: 576px) {
    .main-carousel__stickers-container {
      min-width: 540px; } }
  @media (max-width: 575px) {
    .main-carousel__stickers-container {
      padding: 0 15px; } }
  @media (min-width: 768px) {
    .main-carousel__stickers-container {
      min-width: 720px; } }
  @media (min-width: 992px) {
    .main-carousel__stickers-container {
      min-width: 960px;
      padding: 0; } }
  @media (min-width: 1200px) {
    .main-carousel__stickers-container {
      max-width: 1200px; } }
  .main-carousel__stickers-container__row-bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto; }
    .main-carousel__stickers-container__row-bottom__column {
      max-width: 33.33%; }
      @media (max-width: 991px) {
        .main-carousel__stickers-container__row-bottom__column {
          max-width: 100%;
          padding: 0 !important; } }
      .main-carousel__stickers-container__row-bottom__column:first-child div {
        background-color: #fcedda; }
      .main-carousel__stickers-container__row-bottom__column:last-child div {
        background-color: #f7d8f9; }
      .main-carousel__stickers-container__row-bottom__column:nth-child(2) div {
        background-color: #f2fbcb; }
      .main-carousel__stickers-container__row-bottom__column__sticker {
        width: 100%;
        padding: 30px;
        margin-top: 30px;
        display: flex;
        flex-direction: row; }
        @media (max-width: 991px) {
          .main-carousel__stickers-container__row-bottom__column__sticker {
            flex-direction: column;
            align-items: center;
            justify-content: center; } }
        .main-carousel__stickers-container__row-bottom__column__sticker__text {
          padding-left: 20px;
          width: fit-content; }
          @media (max-width: 991px) {
            .main-carousel__stickers-container__row-bottom__column__sticker__text {
              width: 100%;
              text-align: center;
              margin-top: 10px; } }
          .main-carousel__stickers-container__row-bottom__column__sticker__text h5 {
            margin-bottom: 5px;
            font-size: 18px; }

._unvisible-indicators {
  display: none; }
  @media (max-width: 991px) {
    ._unvisible-indicators {
      display: flex; } }
  ._unvisible-indicators .active {
    background-color: #e3a51e; }
  ._unvisible-indicators__button {
    height: 6px !important;
    width: 30px !important;
    border-radius: 10px !important;
    border: 1px solid transparent !important; }

.product-prototype {
  min-width: 270px;
  max-height: 466px;
  min-height: 360px;
  margin-left: 50px;
  position: relative;
  height: fit-content;
  width: fit-content;
  border: 1px solid #e2e0e0;
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
  font-family: 'Montserrat', sans-serif; }
  .product-prototype:hover {
    border-color: #e3a51e; }
    .product-prototype:hover .product-prototype__image img {
      transform: scale(1.2); }
    .product-prototype:hover .product-prototype__buttons__btn-wishlist {
      opacity: 1;
      visibility: visible;
      top: 100%;
      left: 15%; }
    .product-prototype:hover .product-prototype__buttons__btn-view {
      opacity: 1;
      visibility: visible;
      top: 100%;
      right: 15%; }
  .product-prototype__image {
    overflow: hidden;
    height: fit-content;
    width: fit-content;
    border-radius: 4px; }
    .product-prototype__image__img {
      transition: all 0.3s linear; }
  .product-prototype__info {
    text-align: center; }
    .product-prototype__info__name__link {
      font-family: 'Montserrat', sans-serif;
      color: #333333;
      font-weight: 500;
      transition: all 0.2s linear; }
      .product-prototype__info__name__link:hover {
        color: #e3a51e; }
    .product-prototype__info__actual-price {
      color: #333333;
      font-size: 18px; }
  .product-prototype__buttons {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    transition: all 0.3s linear; }
    .product-prototype__buttons button {
      background-color: #fff;
      border: 1px solid #e3a51e;
      color: #e3a51e; }
      .product-prototype__buttons button:hover {
        background-color: #e3a51e;
        border-color: #fff;
        color: #fff; }
    .product-prototype__buttons__btn-wishlist {
      opacity: 0;
      visibility: hidden;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateY(-50%);
      transition: all 0.4s linear; }
    .product-prototype__buttons__btn-chart {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.4s linear;
      z-index: 1; }
    .product-prototype__buttons__btn-view {
      opacity: 0;
      visibility: hidden;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      position: absolute;
      top: 100%;
      right: 50%;
      transform: translateY(-50%);
      transition: all 0.4s linear; }

.main-products {
  padding: 80px 0; }
  @media (max-width: 768px) {
    .main-products {
      padding: 62px 0; } }
  .main-products__container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 540px; }
    @media (min-width: 576px) {
      .main-products__container {
        min-width: 540px; } }
    @media (max-width: 575px) {
      .main-products__container {
        padding: 0 15px; } }
    @media (min-width: 768px) {
      .main-products__container {
        min-width: 720px; } }
    @media (min-width: 992px) {
      .main-products__container {
        min-width: 960px;
        padding: 0; } }
    @media (min-width: 1200px) {
      .main-products__container {
        max-width: 1200px; } }
    .main-products__container__row {
      margin: 0 auto;
      padding: 0; }
      .main-products__container__row__title {
        text-align: center;
        padding-bottom: 42px; }
        .main-products__container__row__title h2 {
          color: #333333;
          padding-bottom: 12px;
          font-size: 30px;
          text-transform: capitalize; }
        .main-products__container__row__title p {
          font-size: 18px; }
      .main-products__container__row__carousel {
        padding: 0 !important;
        width: 100% !important; }
        .main-products__container__row__carousel:hover .owl-nav .owl-prev {
          visibility: visible;
          opacity: 1; }
        .main-products__container__row__carousel:hover .owl-nav .owl-next {
          visibility: visible;
          opacity: 1; }
        .main-products__container__row__carousel .owl-dots {
          display: none; }
        .main-products__container__row__carousel .owl-nav .owl-prev {
          visibility: hidden;
          opacity: 0;
          border-radius: 0;
          left: 2%;
          top: 44%;
          position: absolute;
          background-color: #f2f2f2 !important;
          transition: all 0.2s linear;
          height: 46px;
          width: 46px;
          color: #333333;
          display: flex;
          align-items: center;
          justify-content: center; }
          .main-products__container__row__carousel .owl-nav .owl-prev:hover {
            color: #fff;
            background-color: #e3a51e !important; }
          @media (max-width: 991px) {
            .main-products__container__row__carousel .owl-nav .owl-prev {
              display: block !important;
              visibility: hidden !important;
              opacity: 0 !important; } }
        .main-products__container__row__carousel .owl-nav .owl-next {
          visibility: hidden;
          opacity: 0;
          border-radius: 0;
          position: absolute;
          right: 2%;
          top: 44%;
          background-color: #f2f2f2 !important;
          transition: all 0.2s linear;
          height: 46px;
          width: 46px;
          color: #333333;
          display: flex;
          align-items: center;
          justify-content: center; }
          .main-products__container__row__carousel .owl-nav .owl-next:hover {
            color: #fff;
            background-color: #e3a51e !important; }
          @media (max-width: 991px) {
            .main-products__container__row__carousel .owl-nav .owl-next {
              display: block !important;
              visibility: hidden !important;
              opacity: 0 !important; } }
        .main-products__container__row__carousel .product-prototype {
          margin: 0 25px 30px 15px !important;
          margin-bottom: 40px; }
          @media (min-width: 576px) {
            .main-products__container__row__carousel .product-prototype {
              min-width: 45% !important;
              padding: 0;
              margin: 0 auto 30px auto !important; } }
          @media (max-width: 575px) {
            .main-products__container__row__carousel .product-prototype {
              min-width: 95% !important;
              padding: 0;
              margin: 0 auto 30px auto !important; } }
          @media (min-width: 992px) {
            .main-products__container__row__carousel .product-prototype {
              min-width: 33% !important;
              padding: 0;
              margin: 0 auto 30px auto !important; } }
          @media (min-width: 1200px) {
            .main-products__container__row__carousel .product-prototype {
              max-width: 1200px; } }

.main-discount {
  padding-bottom: 50px; }
  .main-discount__container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 540px;
    font-family: 'Montserrat', sans-serif; }
    @media (min-width: 576px) {
      .main-discount__container {
        min-width: 540px; } }
    @media (max-width: 575px) {
      .main-discount__container {
        padding: 0 15px; } }
    @media (min-width: 768px) {
      .main-discount__container {
        min-width: 720px; } }
    @media (min-width: 992px) {
      .main-discount__container {
        min-width: 960px;
        padding: 0; } }
    @media (min-width: 1200px) {
      .main-discount__container {
        max-width: 1200px; } }
    .main-discount__container__row {
      width: 100%;
      margin: 0 auto;
      padding: 0; }
      @media (min-width: 992px) {
        .main-discount__container__row {
          padding: 0 15px; } }
      .main-discount__container__row__column {
        transition: all 0.3s linear;
        width: 100%;
        padding: 0;
        margin-bottom: 30px;
        height: fit-content;
        overflow: hidden;
        background-color: black; }
        .main-discount__container__row__column:hover .main-discount__container__row__column__image__img {
          transform: scale(1.1);
          filter: opacity(50%); }
        @media (min-width: 768px) {
          .main-discount__container__row__column {
            width: 50%; } }
        .main-discount__container__row__column__image {
          width: 100%;
          height: fit-content;
          position: relative; }
          .main-discount__container__row__column__image__img {
            width: 100%;
            z-index: -1;
            object-fit: contain;
            transition: all 0.3s ease-in-out; }
          .main-discount__container__row__column__image__info {
            position: absolute;
            left: 20px;
            top: 25%;
            height: 50%;
            z-index: 1;
            color: #fff;
            display: flex;
            justify-content: center;
            flex-direction: column; }
            @media (min-width: 768px) {
              .main-discount__container__row__column__image__info {
                left: 50px !important; } }
            .main-discount__container__row__column__image__info__text {
              font-size: 16px;
              font-weight: 400; }
              @media (min-width: 992px) {
                .main-discount__container__row__column__image__info__text {
                  font-size: 18px;
                  font-weight: 500;
                  left: 50px; } }
            .main-discount__container__row__column__image__info__discount {
              font-size: 20px; }
              @media (min-width: 992px) {
                .main-discount__container__row__column__image__info__discount {
                  font-size: 30px; } }

.section-title-row {
  width: 100%;
  margin: 0 auto;
  padding: 0; }
  .section-title-row__title {
    text-align: center;
    padding-bottom: 42px; }
    .section-title-row__title h2 {
      color: #333333;
      padding-bottom: 12px;
      font-size: 30px;
      text-transform: capitalize; }
    .section-title-row__title p {
      font-size: 18px; }

.product-prototype-reverse {
  position: relative;
  height: fit-content;
  width: fit-content;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear; }
  .product-prototype-reverse:hover .product-prototype-reverse__image img {
    transform: scale(1.2); }
  .product-prototype-reverse__image {
    overflow: hidden;
    height: fit-content;
    width: fit-content; }
    .product-prototype-reverse__image__img {
      transition: all 0.3s linear; }
  .product-prototype-reverse__description {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 0 10px;
    font-family: 'Montserrat', sans-serif; }
    .product-prototype-reverse__description__info__name__link {
      font-size: 16px;
      font-family: 'Montserrat', sans-serif;
      color: #333333;
      font-weight: 500;
      transition: all 0.2s linear; }
      .product-prototype-reverse__description__info__name__link:hover {
        color: #e3a51e; }
    .product-prototype-reverse__description__info__actual-price {
      color: #333333;
      font-size: 16px !important; }
    .product-prototype-reverse__description__info__old-price {
      font-size: 16px !important; }
    .product-prototype-reverse__description__info__stars {
      padding-top: 5px;
      font-size: 12px !important;
      color: #e3a51e; }
    .product-prototype-reverse__description__buttons {
      margin-top: 23px;
      transition: all 0.3s linear; }
      .product-prototype-reverse__description__buttons button {
        width: 44px;
        height: 44px;
        background-color: #f2f2f2;
        color: #333333;
        transition: all 0.4s linear; }
        .product-prototype-reverse__description__buttons button:hover {
          background-color: #e3a51e;
          color: #fff; }

.main-top-seller__container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 540px; }
  @media (min-width: 576px) {
    .main-top-seller__container {
      min-width: 540px; } }
  @media (max-width: 575px) {
    .main-top-seller__container {
      padding: 0 15px; } }
  @media (min-width: 768px) {
    .main-top-seller__container {
      min-width: 720px; } }
  @media (min-width: 992px) {
    .main-top-seller__container {
      min-width: 960px;
      padding: 0; } }
  @media (min-width: 1200px) {
    .main-top-seller__container {
      max-width: 1200px; } }
  .main-top-seller__container__row {
    margin: 0 auto;
    padding: 0;
    width: 100%; }
    .main-top-seller__container__row__image {
      margin-bottom: 20px;
      width: 100%; }
      @media (min-width: 992px) {
        .main-top-seller__container__row__image {
          height: fit-content;
          width: fit-content; } }
      .main-top-seller__container__row__image__img {
        height: 100%;
        width: 100%;
        object-fit: cover; }
        @media (min-width: 992px) {
          .main-top-seller__container__row__image__img {
            object-fit: contain; } }
    .main-top-seller__container__row__top-sellers {
      margin-bottom: 20px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      height: fit-content !important; }
      @media (min-width: 992px) {
        .main-top-seller__container__row__top-sellers {
          margin-left: 0;
          margin-right: 0;
          width: 50%;
          max-height: 400px; } }
      @media (min-width: 1200px) {
        .main-top-seller__container__row__top-sellers {
          width: 66%; } }
      .main-top-seller__container__row__top-sellers__carousel {
        height: 100%;
        padding: 0 !important;
        margin: 0 !important;
        width: 100% !important; }
        .main-top-seller__container__row__top-sellers__carousel .owl-dots {
          display: none; }
        .main-top-seller__container__row__top-sellers__carousel .owl-nav {
          display: none; }
          .main-top-seller__container__row__top-sellers__carousel .owl-nav .owl-prev {
            display: none; }
          .main-top-seller__container__row__top-sellers__carousel .owl-nav .owl-next {
            display: none; }
        .main-top-seller__container__row__top-sellers__carousel .owl-stage-outer .owl-stage .owl-item {
          width: fit-content !important;
          height: fit-content !important;
          margin: 0 !important;
          padding: 0 !important; }
        .main-top-seller__container__row__top-sellers__carousel__top-seller .product-prototype-reverse {
          width: fit-content !important;
          height: fit-content !important;
          padding: 0 !important;
          margin-bottom: 10px !important;
          margin: 0 12px 30px 12px !important; }
          .main-top-seller__container__row__top-sellers__carousel__top-seller .product-prototype-reverse__image__img {
            object-fit: contain !important; }

.blog-prototype {
  max-width: 370px;
  font-family: 'Montserrat', sans-serif; }
  .blog-prototype__image {
    width: 100%; }
    .blog-prototype__image__img {
      width: 100%;
      object-fit: contain; }
  .blog-prototype__info {
    width: 100%;
    height: fit-content;
    background-color: #f7d8f9; }
    .blog-prototype__info__title {
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      color: #333333;
      font-weight: 600;
      margin-bottom: 10px;
      transition: all 0.3s linear; }
      .blog-prototype__info__title:hover {
        color: #e3a51e; }
    .blog-prototype__info__date {
      font-size: 14px; }
    .blog-prototype__info__read-more {
      transition: all 0.3s linear;
      font-size: 15px;
      color: #333333;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500; }
      .blog-prototype__info__read-more:hover {
        color: #e3a51e; }
